env/
PurBeurre/settings/production.py
__pycache__
comparator/__pycache__
comparator/migrations/__pycache__
comparator/management/commands/__pycache__
user/__pycache__/
user/migrations/__pycache__
.coverage

