{% extends 'comparator/base.html' %}
{% load static %}

{% block content %}

<section class="page-section bg-beige sect-h-100">
  <div class="container h-0">
    <div class="row h-100 align-items-center justify-content-center text-center">
      <div class="col-lg-12 align-self-end">
        <h3 class="text-uppercase text-white font-weight-bold">Votre recherche : {{ user_input }}</h3>
        <hr class="divider my-4">
      </div>
    </div>
    {% if food|length_is:"0" %}
    	<h4 class="text-uppercase text-center text-white font-weight-bold">Aucun résultat de recherche</h4>
    {% else %}
    <div class="container">
	    <div class="row">
		  {% for item in food %}
			  <div class="col-sm-4 text-center food-item-box"><span class="nutriscore" data-score="{{ item.nutriscore }}">{{ item.nutriscore }}</span>
			  	<div class="food-item">
			  	  <div style="background-image: url('{{ item.pict }}');background-size: cover;background-position: 0px 50%;height: 85%;border-top-left-radius: 5px;border-top-right-radius: 5px;"></div>
			  	  <button class="subs-button2 btn btn-primary btn-xl cap-text" onclick="window.location.href = '{% url 'comparator:detail' bar_code=item.code %}';">{{ item.name }}</button>
			  	  <form method="get" action="{% url 'comparator:substitute' %}">
			  	  	<input type="text" name="user_substitute" class="hidden-field" value="{{ item.code }}">
				  	<button type="submit" class="subs-button btn btn-primary btn-xl cap-text">Trouver un substitut</button>
				  </form>
			    </div>
			  </div>
		  {% endfor %}
	    </div>
	</div>
    {% endif %}
      <div class="clearfix"></div>

    {% if food.has_other_pages %}
	  <ul class="pagination">
	    {% if food.has_previous %}
	      <li><a href="?user_input={{ user_input }}&page={{ food.previous_page_number }}">&laquo;</a></li>
	    {% else %}
	      <li class="disabled"><span>&laquo;</span></li>
	    {% endif %}
	    {% for i in food.paginator.page_range %}
	      {% if food.number == i %}
	        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
	      {% else %}
	        <li><a href="?user_input={{ user_input }}&page={{ i }}">{{ i }}</a></li>
	      {% endif %}
	    {% endfor %}
	    {% if food.has_next %}
	      <li><a href="?user_input={{ user_input }}&page={{ food.next_page_number }}">&raquo;</a></li>
	    {% else %}
	      <li class="disabled"><span>&raquo;</span></li>
	    {% endif %}
	  </ul>
	{% endif %}

  </div>
</section>

{% endblock %}