{% extends 'comparator/base.html' %}
{% load static %}

{% block content %}

<section class="page-section-7 terms-bg">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8 text-center">
        <h2 class="text-white mt-0 food-name" id="user_query">Mentions légales</h2>
      </div>
    </div>
  </div>
</section>

<section class="page-section bg-beige sect-h-70">
  <div class="container h-0">
    <div class="container">
    	<div class="nutri-text center-text small-screen-margin">Ressources utilisées :</div>
    	<ul class="list-center">
    			<li class="nutri-item center-text cap-text">Icones : <a href="https://fontawesome.com/">Fontawesome</a></li>
    			<li class="nutri-item center-text cap-text">Hébergeur : <a href="https://www.heroku.com/home">Heroku</a></li>
    			<li class="nutri-item center-text cap-text">Template : <a href="https://blackrockdigital.github.io/startbootstrap-creative/">StartBootstrap Creative</a></li>
          <li class="nutri-item center-text cap-text">Parcours développeur Python : <a href="https://openclassrooms.com/fr/paths/68-developpeur-dapplication-python">OpenClassrooms</a></li>
          <li class="nutri-item center-text cap-text">Site réalisé par Nicolas ZEISSER : <a href="https://www.linkedin.com/in/nicolas-zeisser-0a4b2511a/">LinkedIn</a></li>
    	</ul>
	</div>
  </div>
</section>

{% endblock %}