.char-pic {
  position: relative;
  width: auto;
  height: 15em;
  margin-bottom: 10px;
  margin-top: 10px;
}

.nav-icons {
	height: auto;
	width: auto;
}

.nav-logo {
  height: 40px;
  width: auto;
}

.text-white-80 {
  color: rgba(255, 255, 255, 0.8) !important;
}

.font-orange {
	color: #C45525;
}

.footer-text {
  color: rgba(255, 255, 255, 0.7) !important;
}

header.connect-img {
  padding-top: 10rem;
  padding-bottom: calc(10rem - 72px);
  background: linear-gradient(to bottom, rgba(92, 77, 66, 0.8) 0%, rgba(92, 77, 66, 0.8) 100%), url("../img/remy-4.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}

header.account-img {
  padding-top: 10rem;
  padding-bottom: calc(10rem - 72px);
  background: linear-gradient(to bottom, rgba(92, 77, 66, 0.8) 0%, rgba(92, 77, 66, 0.8) 100%), url("../img/ratatouille-11.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}

.connect-list {
  list-style:none;
  margin-left:0;
  padding-left:0;
}

.connect-list-row {
  margin-bottom: 0.4em;
}

.input-xl {
  padding: 1rem 2rem;
  font-size: 1rem;
  font-weight: 700;
  border: none;
  font-family: "Open Sans", sans-serif;
  vertical-align: middle;
}

a {
  font-family: "Open Sans", sans-serif;
}

.mytest {
  width: 20em;
  font-weight: 700;
  border: none;
  font-family: "Open Sans", sans-serif;
  padding: 1rem 2rem;
  font-size: 1rem;
  vertical-align: middle;
}

.search-button {
  width: 10em;
  font-weight: 700;
  border: none;
  font-family: "Open Sans", sans-serif;
  padding: 1rem 2rem;
  font-size: 1rem;
  vertical-align: middle;
}

.bg-contact {
  background-color: #ffffff;
}

.bg-account {
  background-color: #DE9440;
}

.sect-h-100 {
  min-height: 62rem;
  padding-top: 72px;
  padding-bottom: 0;
}

.sect-h-70 {
  min-height: 41rem;
  padding-top: 72px;
  padding-bottom: 0;
}

.navbar-username {
  margin-right: 1rem;
  margin-left: 2rem;
  margin-right: 2rem;
}

.food-item-box {
  height: 15em;
  padding: 0.8em;
}

.food-item {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: black;
  border-radius: 5px;
  box-shadow: 10px 5px 5px black;
}

.subs-button {
  width: 100%;
  font-weight: 700;
  border: none;
  border-radius: 0px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  font-family: "Open Sans", sans-serif;
  padding: 0.3rem 2rem;
  font-size: 1rem;
  vertical-align: middle;
  margin-left: auto;
  margin-right: auto;
}

.subs-button2 {
  width: 100%;
  font-weight: 700;
  border-bottom: 0.5mm solid rgb(44, 18, 0);
  border-radius: 0px;
  font-family: "Open Sans", sans-serif;
  padding: 0.3rem 2rem;
  font-size: 1rem;
  vertical-align: middle;
  margin-left: auto;
  margin-right: auto;
}

.off-button {
  width: 100%;
  font-weight: 700;
  border-radius: 0px;
  font-family: "Open Sans", sans-serif;
  padding: 1rem 2rem;
  font-size: 1rem;
  box-shadow: 3px 3px 3px #202524;
  vertical-align: middle;
  margin-top: 10em;
  margin-left: auto;
  margin-right: auto;
}

.cap-text {
  text-transform: lowercase;
}

.cap-text::first-letter {
  text-transform: capitalize;
}

.nutriscore {
  border-radius: 40%;
  position: absolute;
  top: 0px;
  right: 0px;
  background-color: #de9440;
  text-transform: uppercase;
  font-size: 1.5em;
  font-family: "Open Sans", sans-serif;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

[data-score="a"] {
    background-color: #00823f;
    color: #6dbb93;
    font-weight: bold;
}

[data-score="b"] {
    background-color: #86bd2b;
    color: #bad682;
    font-weight: bold;
}

[data-score="c"] {
    background-color: #fecc00;
    color: #fde07a;
    font-weight: bold;
}

[data-score="d"] {
    background-color: #ef8200;
    color: #f6b37c;
    font-weight: bold;
}

[data-score="e"] {
    background-color: #e73c09;
    color: #f48f63;
    font-weight: bold;
}

.bg-beige {
  background-color: #DE9440;
}

.bg-beige-light {
  background-color: #E8A75D;
}

.page-section-7 {
  padding: 7rem 0;
}

.food-name {
  background-color: rgba(52, 90, 97, 0.85);
  padding-top: 0.8em;
  padding-bottom: 0.8em;
}

.nutri-text {
  padding-bottom: 0.5em;
  font-family: "Open Sans", sans-serif;
  font-size: 1.5em;
  font-weight: bold;
  color: #345A61;
  text-transform: uppercase;
}

.nutri-box {
  height: 5em;
  text-align: center;
  position: absolute;
}

.grade {
  font-family: "Open Sans", sans-serif;
  font-size: 2em;
  height: 2em;
  width: 1.1em;
  margin: auto;
  padding-top: 0.2em;
}

#grade-a {
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

#grade-e {
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.nutri-list {
  list-style: none;
}

.nutri-item {
  font-family: "Open Sans", sans-serif;
  color: #345A61;
  font-size: 1.2em;
  font-weight: bold;
}

.hidden-field {
  display: none;
}


@media (min-width: 992px) {
  header.masthead-mini {
    height: 20%;
    min-height: 20rem;
    padding-top: 72px;
    padding-bottom: 0;
  }
  header.masthead-mini p {
    font-size: 1.15rem;
  }
  header.masthead-mini h1 {
    font-size: 3rem;
  }
}

@media (max-width: 992px) {
  .navbar-username {
    display: none;
  }

  .small-screen-margin {
    padding-top: 2em;
  }

  .nutri-text {
    margin-top: 3em;
    text-align: center;
  }

  .center-ls {
    margin: auto;max-width: 14em;
  }

  .nutri-box {
    margin-left: auto;
    margin-right: auto;
  }

  .off-button {
    margin-top: 3em;
    margin-bottom: 3em;
  }

}
